#sel {
  color: black;
  text-align: center;
}

#note {
  margin-top: 10%;
  text-align: center;
}

#res {
  color: green;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}
#main {
  margin: auto;
  padding-top: 10px;
  background: rgb(133, 184, 235);
  width: 800px;
  border-radius: 10px;
  padding-bottom: 20vh;
}
#header {
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}
