#sel {
  color: black;
  text-align: center;
}

#note {
  margin-top: 10%;
  text-align: center;
}

#res {
  color: green;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}
#main {
  margin: auto;
  margin-top: 10px;
  background: rgb(133, 184, 235);
  width: fit-content;
  padding: 5px;
  max-width: 100%;
  border-radius: 10px;
}
#header {
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}
#cheatflex {
  margin-top: 10%;
  font-size: medium;
  display: flex;
  margin: auto;
  margin-top: 5%;
  color: white;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  width: 70%;
  border: black solid 1px;
  padding-bottom: 10px;
}
#cheat1 {
  width: 33%;
  margin-left: 10%;
}
#cheat2 {
  width: 33%;
  margin-left: 10%;
}
#cheat3 {
  width: 33%;
  margin-left: 10%;
}
